@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Felipa&display=swap');

.title_home {
    text-align: center;
    font-size: 3.5em;
    color: #20681B;
    font-family: 'Dancing Script', cursive;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: space-between;
}

.slide_left {
    padding-left: 1em;
}

.intro_title {
    font-size: 2.5em;
    color: #E80809;
    margin: 1em 0;
    font-family: 'Dancing Script', cursive;
}

.intro_text {
    font-size: 1.5em;
}

.slide img {
    height: 250px;
    object-fit: cover;
}

.slide_right {
    width: 100%;
    text-align: right;
}

.slide_up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.carrousel_title {
    font-size: 2.5em;
    margin: 1em 0;
    text-align: center;
    color: #E1AD01;
    font-family: 'Dancing Script', cursive;
}

.carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
}

.slider{
    width: 500em;
    height: 500px;
    display: flex;
}

.carrousel_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carrousel_item img{
    width: 100vh;
    height: 100%;
    object-fit: cover;
}

.carrousel_buttons {
    display: flex;
    justify-content: center;
}

.carrousel_button {
    display: flex;
    margin: 1em 0.5em;
    align-items: center;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 50%;
}

.carrousel_button:hover {
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/section_background.jpg');
}

.section_title {
    text-align: center;
    font-size: 2.5em;
    color: #E1AD01;
    font-family: 'Dancing Script', cursive;
    margin: 1em 0;
}

.section_content {
    display: flex;
}

.section_content img {
    width: 30%;
    height: 10%;
}

.section_text {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
}